.goToMainButton {
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  background-color: #990e17;
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .goToMainButton {
    width: 400px;
  }
}

@media (max-width: 480px) {
  .goToMainButton {
    width: 320px;
  }
}
