.goToMainButton {
  width: 600px;
  height: 60px;
  box-sizing: border-box;
  background-color: #0e3270;
  color: white;
  text-align: center;
  align-content: center;
  border-radius: 8px;
  cursor: pointer;
}
