.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  padding-bottom: 160px;
}

.wrapper {
  width: 100%;
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
  margin-top: 80px;
}

.titleSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .title {
    color: #990e17;
    font-size: 24px;
    font-weight: bold;
  }

  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    .contentText {
      font-size: 16px;
      font-weight: 400;
      color: #4d4d4d;

      .color {
        color: #990e17;
      }
    }

    .introImage {
      width: 858px;
    }
  }
}

.keyFeatures {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .title {
    color: #990e17;
    font-size: 24px;
    font-weight: bold;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 100px;

    .cardSection {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .mainFeaturesImage {
      width: 248px;
    }

    .contentText {
      color: #969696;
      font-size: 12px;
      font-weight: 400;
      position: relative;

      &::before {
        content: "*";
        position: absolute;
        left: -8px;
        color: #fc8e8e; // 원하는 색으로 설정 가능
        font-weight: bold;
      }
    }
  }
}

.applicationCases {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .title {
    color: #990e17;
    font-size: 24px;
    font-weight: bold;
  }

  .cardSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}
