.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.wrapper {
  width: 100%;
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.applicationCases {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 0px 12px;

  .title {
    color: #990e17;
    font-size: 24px;
    font-weight: bold;
  }

  .cardSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }
}

.bottom {
  background-color: #f4f2ed;
  padding: 40px 0px 80px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  width: 100%;
  margin-top: 40px;

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 860px;
    width: 100%;
    padding: 0px 12px;
    box-sizing: border-box;

    .title {
      color: #969696;
      font-size: 16px;
      font-weight: bold;
    }

    .button {
      width: 100%;
      display: flex;
      gap: 12px;

      .card {
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        width: 100%;
        height: 120px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 4px;
        cursor: pointer;
        box-sizing: border-box;

        .title {
          color: #4d4d4d;
          font-size: 16px;
          font-weight: 400;
        }
        .description {
          color: #969696;
          font-size: 14px;
          font-weight: 400;
        }
      }
    }
  }
}
