.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}

.wrapper {
  width: 100%;
  max-width: 1040px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 80px;
}
