.noticeDetail {
  background-color: #eff2f6;
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 40px 0px 120px 0px;
}

.wrapper {
  width: 862px;
  padding: 40px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .notice {
    color: #0e3270;
    font-size: 24px;
    font-weight: bold;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    .header {
      height: 48px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #e0e6ed;
      box-sizing: border-box;

      .title {
        font-size: 16px;
        font-weight: bold;
      }

      .dateAndMenu {
        display: flex;
        gap: 12px;
        align-items: center;

        .date {
          font-size: 16px;
          color: #969696;
        }

        .menuContainer {
          position: relative;

          .menuButton {
            background: none;
            cursor: pointer;
            font-size: 24px;
            width: 24px;
            height: 30px;
            color: #969696;
          }

          .menuDropdown {
            position: absolute;
            left: 0;
            width: 160px;
            background: white;
            box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            gap: 12px;
            padding: 10px;
            z-index: 100;
            box-sizing: border-box;

            div {
              width: 100%;
              height: 40px;
              align-content: center;
              display: flex;
              justify-content: start;
              padding: 10px;
              box-sizing: border-box;
              border-radius: 4px;
              cursor: pointer;
            }
            :hover {
              background-color: #eff2f6;
            }

            .delete {
              color: red;
            }
          }
        }
      }
    }

    .body {
      min-height: 456px;
      font-size: 16px;
    }
  }
}

.listButton {
  width: 600px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  color: white;
  background-color: #0e3270;
  cursor: pointer;
}
