.analysis {
  display: flex;
}

.sidebar {
  width: 280px;
  height: calc(100vh - 100px);
  background-color: #eff2f6;
  transition: width 0.3s ease;
  overflow-y: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
}

.collapsed {
  width: 72px;
}

.iconSection {
  padding: 20px 16px;
  box-sizing: border-box;
  height: 80px;
}

.sidebarIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  height: calc(100vh - 240px);

  opacity: 1;
  transition: opacity 0.3s ease;
}

.list.collapsed {
  opacity: 0;
  pointer-events: none; // 안 보이는 상태에서 클릭 안 되게
}

.analysisItem {
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:hover,
  &.selected {
    background-color: #e0e6ed;
  }

  .deleteButton {
    display: flex;
    align-items: center;
  }
}

.loader {
  text-align: center;
  padding: 10px;
}
