.analysis {
  display: flex;
}

.sidebar {
  width: 350px;
  height: calc(100vh - 100px);
  background-color: #eff2f6;
  transition: width 0.3s ease;
  overflow: hidden;
  box-sizing: border-box;
}

.collapsed {
  width: 72px;
}

.iconSection {
  padding: 20px 16px;
  box-sizing: border-box;
  height: 80px;
}

.sidebarIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.list {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  height: calc(100vh - 240px);

  opacity: 1;
  transition: opacity 0.3s ease;
}

.list.collapsed {
  opacity: 0;
  pointer-events: none; // 안 보이는 상태에서 클릭 안 되게
}

.analysisItem {
  padding: 12px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover,
  &.selected {
    background-color: #e0e6ed;
  }
}

.loader {
  text-align: center;
  padding: 10px;
}

.rightSection {
  display: flex;
  justify-content: center;
}

.rightWraaper {
  flex: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  height: calc(100vh - 100px);
  box-sizing: border-box;
  width: 100%;
  max-width: 650px;

  overflow-y: auto;
  word-break: break-word;
  white-space: normal;
  overflow-wrap: break-word;

  .title {
    font-size: 20px;
    color: #0e3270;
    font-weight: bold;
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    box-sizing: border-box;
  }

  .originalResumeButton {
    display: flex;
    gap: 8px;
    color: #969696;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    align-items: center;
  }

  /* 원본 내용 */
  .originalResume {
    border: 1px solid transparent;
    height: 0;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, height 0s 0.3s, border 0.5s ease;
  }

  /* 열릴 때의 상태 */
  .originalResume.open {
    border: 1px solid #969696;
    height: 500px;
    max-height: 500px;
    transition: max-height 0.3s ease-in;
  }

  .streaming,
  .body {
    width: 100%;
  }
}
