.analysis {
  display: flex;
}

.sidebar {
  width: 350px;
  height: calc(100vh - 100px);
  background-color: #eff2f6;
  transition: width 0.3s ease;
}

.collapsed {
  width: 72px;
}

.iconSection {
  padding: 20px 16px;
  box-sizing: border-box;
  height: 80px;
}

.sidebarIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
