.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  background-color: #0e3270;
  padding: 0 1rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
}

.logo {
  display: flex;
  align-items: center;
}

.menuIcon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.rightSection {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .rightTopSection {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: white;
  }

  .authSection {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
  }

  .login {
    color: #ffff00;
    font-weight: bold;
    display: flex;
    justify-content: end;
    cursor: pointer;
  }

  .logout {
    color: #ffff00;
    font-weight: bold;
    cursor: pointer;
  }

  .menuSection {
    display: flex;
    align-items: center;
    gap: 4rem;
    z-index: 10;

    .menu {
      color: white;
      font-size: 1.25rem;
      text-decoration: none;
    }

    .analysis {
      background-color: white;
      padding: 4px 20px;
      border-radius: 8px;
    }

    .analysisText {
      color: #0e3270;
      text-decoration: none;
    }
  }
}

@media (max-width: 1024px) {
  .container {
    position: relative;
    justify-content: center;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-out;
  }

  .menuIcon {
    display: block;
    position: absolute;
    right: 1rem;
  }

  .menuSection {
    display: none;
    flex-direction: column;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 50px;
    text-align: center;
    gap: 0px;
  }

  .menuSection.active {
    display: flex;
  }

  .menu,
  .login,
  .logout,
  .authSection {
    color: black;
    padding: 24px;
    width: 100%;

    &:hover {
      background-color: #f3f4f5;
    }
  }

  .logout {
    padding: 0;
    width: auto;
  }
}
