.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  background-color: #990e17;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
  padding: 0rem 2.5rem;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
}

.rightSection {
  display: flex;
  flex-direction: column;

  .rightTopSection {
    display: flex;
    justify-content: end;
    gap: 1.25rem;
    color: white;
    height: 1.875rem;

    .mySection {
      display: flex;
      gap: 0.625rem;
      align-items: center;

      .report,
      .resume {
        text-decoration: none;
        color: white;
        font-size: 0.875rem;
        font-weight: bold;

        &:hover {
          color: #eae8e2;
        }
      }
    }

    .authSection {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 0.75rem;
      color: white;
      text-decoration: none;
      font-size: 0.875rem;
      font-weight: bold;
    }
    .login,
    .logout {
      color: #ffff00;
      font-weight: bold;
      cursor: pointer;
      align-content: center;
      font-size: 0.875rem;
    }
  }

  .menuSection {
    display: flex;
    align-items: center;
    gap: 1.25rem;
    z-index: 10;
    height: 2.5rem;

    .menuItem {
      padding: 0rem 1.25rem;
      cursor: pointer;
      box-sizing: border-box;
      height: 2.5rem;
      align-content: center;
      position: relative;
    }

    .menu {
      color: white;
      font-size: 1rem;
      font-weight: bold;
      text-decoration: none;
    }

    .menu.activeAbout,
    .menu.activeSitemap {
      color: #eae8e2;
    }

    .dropdown {
      position: absolute;
      transform: translate(-50%);
      top: 100%;
      left: 50%;
      background: white;
      display: flex;
      flex-direction: column;
      width: 15rem;
      z-index: 100;
      gap: 0.75rem;
      padding: 0.625rem;
      border-radius: 0.5rem;
      box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);

      height: 0;
      visibility: hidden;
      overflow: hidden;
      transition: height 0.3s ease-out, visibility 0.3s;

      span {
        padding: 0.625rem 1rem;
        color: #333;
        text-decoration: none;
        transition: background 0.3s;
        border-radius: 0.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      :hover {
        background: #eff2f6;
      }
    }

    .dropdown.activeAbout {
      height: 13.5rem;
      visibility: visible;
    }

    .dropdown.activeSitemap {
      height: 10.25rem;
      opacity: 1;
      visibility: visible;
    }

    .analysis {
      background-color: white;
      padding: 0.375rem 1.25rem;
      border-radius: 0.125rem;
      cursor: pointer;
      color: #990e17;
      text-decoration: none;
      font-size: 1rem;
      font-weight: bold;
      box-sizing: border-box;

      &:hover {
        background-color: #eae8e2;
      }
    }
  }
}

@media (max-width: 768px) {
  .header {
    position: relative;
  }

  .container {
    position: relative;
    justify-content: center;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-out;
  }

  .menuIcon {
    position: absolute;
    right: 1rem;
    font-size: 2rem;
    color: white;
    cursor: pointer;
  }

  .rightSection {
    display: none;
  }

  .mobileMenu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    width: 100%;
    box-sizing: border-box;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: white;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    z-index: 999;
  }

  .mobileMenuItem {
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    position: relative;

    &:hover {
      background-color: #f4f2ed;
    }

    &.logout {
      display: flex;
      justify-content: end;
      gap: 8px;

      .userName {
        font-weight: normal;
      }
    }
  }

  .mobileDropdown {
    display: none;
    flex-direction: column;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .mobileMenuItem.active .mobileDropdown {
    display: flex;
  }

  .mobileDropdown span {
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    display: block;

    &:hover {
      color: #990e17;
    }
  }

  .mobileDropdown {
    display: flex;
  }

  .externalIcon {
    margin-left: 0.3rem;
  }
}
