.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6.25rem;
  background-color: #0e3270;
  padding: 0 1rem;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 80rem;
}

.logo {
  display: flex;
  align-items: center;
}

.menuIcon {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
}

.rightSection {
  display: flex;
  flex-direction: column;
  gap: 12px;

  .rightTopSection {
    display: flex;
    justify-content: end;
    gap: 20px;
    color: white;

    .mySection {
      display: flex;
      gap: 10px;

      .report,
      .resume {
        text-decoration: none;
        color: white;
      }
    }
  }

  .authSection {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 12px;
    color: white;
    font-size: 1rem;
    text-decoration: none;
  }

  .login {
    color: #ffff00;
    font-weight: bold;
    cursor: pointer;
  }

  .logout {
    color: #ffff00;
    font-weight: bold;
    cursor: pointer;
  }

  .menuSection {
    display: flex;
    align-items: center;
    gap: 20px;
    z-index: 10;

    .menuItem {
      padding: 10px 20px;
      cursor: pointer;
    }

    .menu {
      color: white;
      font-size: 16px;
      text-decoration: none;
    }

    .analysis {
      background-color: white;
      padding: 4px 20px;
      border-radius: 8px;
      cursor: pointer;
    }

    .analysisText {
      color: #0e3270;
      text-decoration: none;
    }
  }
}

.menuItem {
  position: relative;
  display: inline-block;
}

.dropdown {
  position: absolute;
  transform: translate(-50%);
  top: 100%;
  left: 50%;
  background: white;
  display: flex;
  flex-direction: column;
  width: 240px;
  z-index: 100;
  gap: 12px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  height: 0;
  visibility: hidden;
  overflow: hidden;
  transition: height 0.3s ease-out, visibility 0.3s;
}

.dropdown.activeAbout {
  height: 216px;
  visibility: visible;
}

.dropdown.activeSitemap {
  height: 164px;
  opacity: 1;
  visibility: visible;
}

.dropdown span {
  padding: 10px 16px;
  color: #333;
  text-decoration: none;
  transition: background 0.3s;
  border-radius: 8px;
}

.dropdown span:hover {
  background: #eff2f6;
}

@media (max-width: 1024px) {
  .container {
    position: relative;
    justify-content: center;
  }

  .logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.5s ease-out;
  }

  .menuIcon {
    display: block;
    position: absolute;
    right: 1rem;
  }

  .menuSection {
    display: none;
    flex-direction: column;
    width: 100vw;
    background-color: white;
    position: absolute;
    top: 50px;
    text-align: center;
    gap: 0px;
  }

  .menuSection.active {
    display: flex;
  }

  .menu,
  .login,
  .logout,
  .authSection {
    color: black;
    padding: 24px;
    width: 100%;

    &:hover {
      background-color: #f3f4f5;
    }
  }

  .logout {
    padding: 0;
    width: auto;
  }
}
