.loginError {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 6.25rem);
  background-color: #eae8e2;
}

.textArea {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  text-align: center;

  .title {
    color: #990e17;
    font-size: 24px;
    font-weight: bold;
  }

  .info {
    color: #969696;
    font-size: 16px;
  }
}

.loginButton {
  width: 600px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #990e17;
  border-radius: 8px;
  cursor: pointer;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .loginButton {
    width: 440px;
  }
}

@media (max-width: 480px) {
  .loginButton {
    width: 320px;
  }
}
