.breadcrumb {
  width: 100%;
  max-width: 858px;
  display: flex;
  gap: 4px;
  color: #969696;
  font-size: 16px;
  font-weight: 400;
  margin-top: 40px;
  padding-left: 12px;
  box-sizing: border-box;
}
