.editNotice {
  background-color: #f6f5ef;
  display: flex;
  justify-content: center;
  padding: 120px 0px;
}

.wrapper {
  width: 1040px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: white;
  border-radius: 8px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #990e17;
  }

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .titleArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contentArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
}
