.notice {
  width: 100%;
  background-color: #eff2f6;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding: 40px;
  box-sizing: border-box;
}

.wrapper {
  width: 862px;
  height: 704px;
  padding: 40px;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #0e3270;
  }

  .writeButton {
    display: flex;
    justify-content: center;
    width: 232px;
    height: 40px;
    background-color: #0e3270;
    align-items: center;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    cursor: pointer;
  }
}

.tableContainer {
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: space-between;
  height: 100%;
  box-sizing: border-box;
}

.analysisTable {
  width: 100%;
  border-collapse: collapse;

  tr {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #eff2f6;
    height: 60px;
    box-sizing: border-box;
  }

  .modifiedAt {
    display: flex;
    gap: 12px;
    justify-content: space-between;
    align-items: center;
    color: #969696;
  }
}

.clickableRow {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.analysisTable td {
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  align-content: center;

  .menuContainer {
    position: relative;
  }

  .menuButton {
    background: none;
    cursor: pointer;
    font-size: 24px;
    width: 24px;
    height: 30px;
  }

  .menuDropdown {
    position: absolute;
    left: 0;
    width: 160px;
    background: white;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    z-index: 100;
    box-sizing: border-box;

    div {
      width: 100%;
      height: 40px;
      align-content: center;
      display: flex;
      justify-content: start;
      padding: 10px;
      box-sizing: border-box;
      border-radius: 4px;
    }
    :hover {
      background-color: #eff2f6;
    }

    .delete {
      color: red;
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 40px;

  .prevButton,
  .nextButton {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #969696;
    width: 24px;
    height: 24px;
    font-size: 24px;
  }

  .disabled {
    pointer-events: none;
    opacity: 0.5;
  }

  .pageNumbers {
    display: flex;
    gap: 20px;

    div {
      color: #969696;
      cursor: pointer;
      width: 20px;
      height: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: bold;
    }

    .activePage {
      color: #0e3270;
    }
  }
}
