.tableContainer {
  overflow-x: auto;
}

.resumeTable {
  width: 100%;
  border-collapse: collapse;
}

.clickableRow {
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.resumeTable th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  padding: 0.75rem;
  text-align: center;
  font-weight: bold;
}

.resumeTable td {
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
  padding: 0.75rem;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
