.analysisSidebar {
  width: 280px;
  height: calc(100vh - 100px);
  background-color: #f4f2ed;
  transition: width 0.3s ease;
  overflow-y: hidden;
  box-sizing: border-box;
  flex-shrink: 0;
}

.collapsed {
  width: 72px;
}

.iconSection {
  padding: 20px 16px;
  box-sizing: border-box;
  height: 80px;
}

.sidebarIcon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.list {
  width: 280px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: auto;
  height: calc(100vh - 240px);

  opacity: 1;
  transition: opacity 0.3s ease;
}

.list.collapsed {
  opacity: 0;
  pointer-events: none;
}

.analysisItem {
  padding: 12px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #4d4d4d;
  font-size: 16px;

  &:hover,
  &.selected {
    background-color: #eae8e2;

    .deleteButton {
      display: block;
    }
  }

  &.selected {
    color: #131313;
  }

  .deleteButton {
    display: none;
    color: #969696;
  }
}

.loader {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.spinner {
  width: 24px;
  height: 24px;
  border: 4px solid #e0e0e0;
  border-top: 4px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* 화면이 작아지면 사이드바 숨기기 */
@media (max-width: 768px) {
  .analysisSidebar {
    width: 240px;
    position: fixed;
    left: -280px;
    transition: left 0.3s ease;
    z-index: 100;
    border: 1px solid #eae8e2;
  }

  .analysisSidebar.expanded {
    left: 0;
  }

  .list {
    width: 240px;
    height: calc(100vh - 120px);
  }

  .iconSection {
    display: block;
    position: fixed;
    top: 10px;
    left: 0;
    z-index: 1000;
  }

  .overlay {
    position: fixed;
    top: 100px;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: #fafafa80;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
  }

  .overlay.visible {
    opacity: 1;
    visibility: visible;
  }
}
