.shiny-text {
  color: #4d4d4da4;
  background: linear-gradient(120deg, rgb(77, 77, 77, 1) 40%, rgba(255, 255, 255, 1) 50%, rgba(77, 77, 77, 1) 60%);
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.shiny-text.disabled {
  animation: none;
}
