.landing {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro {
  display: flex;
  gap: 50px;
  margin-top: 186px;

  .leftSection {
    display: flex;
    flex-direction: column;
    gap: 49px;
  }

  .rightSection {
  }
}

.evaluation {
  margin-top: 224px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 190px;

  .titleSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;
  }

  .content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    .evaluationImage {
      width: 452px;
    }

    .xCard {
      position: absolute;
      top: -110px;
    }
    .yCard {
      position: absolute;
      top: 320px;
      right: 170px;
    }
    .zCard {
      position: absolute;
      top: 320px;
      left: 100px;
    }
  }
}
