.dashboard {
  display: grid;
  grid-gap: 1.25rem;
  margin: 1.25rem;
  transition: all 1s ease;
}

.defaultGrid {
  grid-template-columns: 1fr 1.5fr;
}

.myInfoExpanded {
  grid-template-columns: 1fr 0fr;
}

.reviewHistoryExpanded {
  grid-template-columns: 0fr 1fr;
}

.dashboardItem {
  cursor: pointer;
  transition: transform 1s ease, opacity 1s ease, max-width 1s ease;
  overflow: hidden;
  max-width: 100%;

  &:hover {
    transform: scale(1.05);
  }
}

.expanded {
  cursor: default;
  &:hover {
    transform: none;
  }
}

.myInfoExpanded .dashboardItem:nth-child(2),
.reviewHistoryExpanded .dashboardItem:nth-child(1) {
  max-width: 0;
  opacity: 0;
}
