.dashboard {
  display: grid;
  grid-template-rows: auto;
  grid-gap: 1.25rem;
  margin: 1.25rem;
  transition: all 1.5s ease;
}

.defaultGrid {
  grid-template-columns: 1fr 1.5fr;
}

.myInfoExpanded {
  grid-template-columns: 1fr 0fr;
}

.reviewHistoryExpanded {
  grid-template-columns: 0fr 1fr;
}

.dashboardItem {
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }
}
