.editNotice {
  background-color: #f4f2ed;
  display: flex;
  justify-content: center;
  padding: 40px 40px 120px 40px;
}

.wrapper {
  width: 100%;
  max-width: 1040px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  background-color: white;
  border-radius: 8px;
  box-sizing: border-box;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;

  .title {
    font-size: 24px;
    font-weight: bold;
    color: #990e17;
  }

  .body {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .titleArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .titleInput {
      width: 100%;
      height: 56px;
      background-color: #f4f2ed;
      border-radius: 8px;
      border: none;
      padding: 12px;
      box-sizing: border-box;

      &:focus {
        outline: none;
        border: 0.0625rem solid #4d4d4d;
      }
    }
  }

  .contentArea {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .contentInput {
      height: 300px;
      border: none;
      border-radius: 8px;
      background-color: #f4f2ed;
      padding: 12px;
      box-sizing: border-box;
      resize: none;

      &:focus {
        outline: none;
        border: 0.0625rem solid #4d4d4d;
      }
    }
  }
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  .uploadButton,
  .cancelButton {
    width: 600px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
  }

  .uploadButton {
    background-color: #990e17;
    color: white;
  }

  .cancelButton {
    border: 1px solid #e0e6ed;
  }
}

@media (max-width: 768px) {
  .editNotice {
    padding: 40px 20px 120px 20px;
  }

  .uploadButton,
  .cancelButton {
    width: 400px !important;
  }
}

@media (max-width: 480px) {
  .editNotice {
    padding: 40px 0px 100px 0px;
  }

  .uploadButton,
  .cancelButton {
    width: 320px !important;
  }
}
