.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  .modal {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px 20px;
    box-sizing: border-box;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    max-width: 90%;
    animation: fadeIn 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
  }

  .spinner {
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top: 4px solid #990e17;
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
    font-size: medium;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
